<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source=C:\Users\Terrence\Documents\TriviaDev\Trivia\trivia.sqlite;Version=3;FailIfMissing=True;" />
  </connectionStrings>
  <appSettings>
    <add key="session_config" value="C:\Users\Terrence\Documents\TriviaDev\Trivia\Trivia\SessionConfigs\" />
    <add key="game_save_config" value="C:\Users\Terrence\Documents\TriviaDev\Trivia\Trivia\SavedGames\" />
    <add key="report_save_config" value="C:\Users\Terrence\Documents\TriviaDev\Trivia\Trivia\SavedReports\" />
    <add key="sound_file_path" value="C:\Users\Terrence\Documents\TriviaDev\Trivia\Trivia\Sounds\alarm_beep.wav" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>