<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="db" connectionString="Data Source=C:\Program Files\Trivia Scoring\trivia.sqlite;Version=3;FailIfMissing=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="session_config" value="C:\Program Files\Trivia Scoring\SessionConfigs\"/>
    <add key="game_save_config" value="C:\Program Files\Trivia Scoring\SavedGames\"/>
    <add key="report_save_config" value="C:\Program Files\Trivia Scoring\SavedReports\"/>
    <add key="sound_file_path" value="C:\Program Files\Trivia Scoring\Sounds\alarm_beep.wav"/>
  </appSettings>
</configuration>